{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>NetBanking Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static 'Login_v6/images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'Login_v6/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'Login_v6/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'Login_v6/fonts/iconic/css/material-design-iconic-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'Login_v6/vendor/animate/animate.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'Login_v6/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'Login_v6/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'Login_v6/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'Login_v6/vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'Login_v6/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'Login_v6/css/main.css' %}">
<!--===============================================================================================-->
</head>
<body>

    <form action="/accounts/net_payment/" method="POST">
    {% csrf_token %}
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-t-85 p-b-20">
				<form class="login100-form validate-form">
					<span class="login100-form-title p-b-70">
						Net Banking Payment
					</span>
					<span class="login100-form-avatar">
                                            <img src="{% static 'Login_v6/images/online-banking-png-download-latest-version-from-here-4333.png' %}" alt="AVATAR" >
					</span>


					<div class="wrap-input100 validate-input m-t-85 m-b-35" data-validate = "Enter username">
                                            <input class="input100" type="text" name="username" required>
						<span class="focus-input100" data-placeholder="Username"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-50" data-validate="Enter password">
                                            <input class="input100" type="password" name="pass" minlength="6" maxlength="13" required>
						<span class="focus-input100" data-placeholder="Password"></span>
					</div>
                                    <div class="wrap-input100 validate-input m-b-50" >

						<select id="banks" name="banks">
                                                    <option value="Bank of Baroda">Bank of Baroda</option>
                                                    <option value="Bank of India">Bank of India</option>
                                                    <option value="Canara Bank">Canara Bank</option>
                                                    <option value="HDFC">HDFC</option>
                                                </select>
                                    </div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Pay Securely
						</button>
					</div>

					<ul class="login-more p-t-190">

					</ul>
				</form>
			</div>
		</div>
	</div>


	<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
	<script src="{% static 'Login_v6/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'Login_v6/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'Login_v6/vendor/bootstrap/js/popper.js' %}"></script>
        <script src="{%static 'Login_v6/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
        <script src="{% static 'Login_v6/vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'Login_v6/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'Login_v6/vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'Login_v6/js/main.js' %}"></script>
    </form>
</body>
</html>