<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <meta http-equiv="refresh" content="4;url=/" />
    <title>Invalid data</title>
    <style>
        body{

        background-color :#009999;
        }
        .pipo1 {
        font-size: 50px;
        align :center;
           top: 300px;
            position :absolute;
            left:600px;
        }

        .pipo2{
        font-size:30px;
        align:center;
        top: 360px;
        left:580px;
        position :absolute;
        }
                .pipo3{

        align:center;
        top: 460px;
        left:730px;
        position :absolute;
        }
    </style>
</head>
<body><center>
<div class="pipo1">
    Invalid Data
</div>
<div class="pipo2" >
    Payment failed,Try again...
</div>

</center>
</body>
</html>